body {
  background-color: #f0f0f0;
}
header {
  font-family: "Verdana", Tahoma, Geneva, Verdana, sans-serif;
}
.col-all {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin: 25px;
}

